{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react", "import", "promise", "security"],
    "env": {
      "browser": true,
      "es6": true
    },
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "globals": {
      "$": false
    },
    "rules": {
      "indent": ["error", 2, {"SwitchCase": 1}],
      "arrow-body-style": "error",
      "arrow-parens": "error",
      "arrow-spacing": "error",
      "generator-star-spacing": "error",
      "no-duplicate-imports": "error",
      "no-useless-computed-key": "error",
      "no-useless-constructor": "error",
      "no-useless-rename": "error",
      "no-var": "error",
      "object-shorthand": "error",
      "prefer-arrow-callback": "error",
      "prefer-const": "error",
      "prefer-rest-params": "error",
      "prefer-spread": "error",
      "prefer-template": "error",
      "quotes": "error",
      "rest-spread-spacing": "error",
      "template-curly-spacing": "error",
      "yield-star-spacing": "error",
      "react/prop-types": "off" # TODO: fix
    }
}
