<div class="row" id="clear-area">
  <div class="col-sm-12 col-md-12">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        履歴消去 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a data-target="#" id="clear-fav">お気に入りの消去</a></li>
        <li><a data-target="#" id="clear-log">検索履歴の消去</a></li>
        <li><a data-target="#" id="clear-all">全履歴の消去</a></li>
      </ul>
    </div>
  </div>
</div>
