<div id="edit-area">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div id="help-area" class="invisible">
        <div class="alert alert-warning small" role="alert">
          <ul class="list-unstyled">
            <li>空いたところにドロップ -> パーティーメンバーとしてセット</li>
            <li>すでに登録されたところにドロップ -> 「置き換え」か「絆」か選択</li>
          </ul>
        </div>
      </div>
      <div id="search-area">
        <div class="bg-info small text-muted">
          <div class="btn-group pull-right" id="search-menu">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> 履歴 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a data-target="#" id="default-list"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 最新のアルカナ</a></li>
              <li><a data-target="#" id="favorite-list"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> お気に入り</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header" id="search-log-header">検索履歴</li>
            </ul>
          </div>
          <button type="button" id="search-modal-btn" data-toggle="modal" data-target="#search-modal" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 検索
          </button>
          表示中：<span id="detail" class="search-detail"></span> <span id="pager-count" class="pager-count"></span>
        </div>
        <div>
          <span class="help-block small">アルカナをドラッグ -> 上のパーティーエリアでドロップ</span>
        </div>
      </div>
      <div>
        <ul id="choice-characters" class="list-inline"></ul>
      </div>
      <p class="clearfix"></p>
      <nav class="text-center">
        <ul class="pagination" id="pagination-area">
          <li id="pager-prev" class="pager-prev"><span>&larr;</span></li>
          <li id="pager-next" class="pager-next"><span>&rarr;</span></li>
        </ul>
      </nav>
      <div id="name-search">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="arcana-name">名前から検索</label>
            <div class="col-sm-6 col-md-6">
              <input type="text" class="form-control" id ="arcana-name" placeholder="名前を入力（2文字以上）">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
