<div id="edit-area" class="invisible">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <p class="navbar-brand text-muted">アルカナ：<span id="detail"></span></p>
        </div>
        <div class="collapse navbar-collapse">
          <form class="navbar-form navbar-left" role="search">
            <button type="button" id="search-moadal" data-toggle="modal" data-target="#search-modal" class="btn btn-info">
              検索する
            </button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <span class="help-block small">アルカナをドラッグ -> 上のパーティーエリアでドロップ</span>
      <ul id="choice-characters" class="list-inline"></ul>
    </div>
  </div>
</div>

<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="help-modal-label">アルカナを検索</h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal well" role="form">
          <div class="form-group">
            <div class="col-sm-12 col-md-12">
              <button type="button" id="search" class="btn btn-primary" data-loading-text="検索中...">検索</button>
              <button type="button" id="search-clear" class="btn btn-default pull-right">条件をクリア</button>
              <span class="help-block small">条件をクリアして検索すると、最近登録されたアルカナが検索されます。</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 col-md-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="addition" name="addition" value="ex2"> 2部限定のアルカナを除外
                </label>
                <a href="about#data-arcana-2" class="help small">「2部限定のアルカナ」とは？</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-md-6">
              <label for="job" class="control-label">職業</label>
              <select id="job" class="form-control">
                <option value="">-</option>
                <option value="F">戦</option>
                <option value="K">騎</option>
                <option value="P">僧</option>
                <option value="A">弓</option>
                <option value="M">魔</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="rarity" class="control-label">レア度</label>
              <select id="rarity" class="form-control col-sm-6 col-md-6">
                <option value="">-</option>
                <option value="1">☆</option>
                <option value="1U">☆+</option>
                <option value="2">☆☆</option>
                <option value="2U">☆☆+</option>
                <option value="3">☆☆☆</option>
                <option value="3U">☆☆☆+</option>
                <option value="4">☆☆☆☆</option>
                <option value="4U">☆☆☆☆+</option>
                <option value="5">☆☆☆☆☆</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-md-6">
              <label for="skill">スキル種別</label>
              <select id="skill" class="form-control">
                <option value="">-</option>
                <option value="attack">攻撃</option>
                <option value="heal">回復</option>
                <option value="song/dance">歌・舞</option>
                <option value="other">補助</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="skill-sub">スキル種別・詳細</label>
              <select id="skill-sub" class="form-control">
                <option value="">-</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-link" id="add-condition">もっと細かい条件を指定する</button>
          <div id="additional-condition">
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="ability-effect">アビリティ・効果</label>
                <select id="ability-effect" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="ability-condition">アビリティ・発動条件</label>
                <select id="ability-condition" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="source">入手先</label>
                <select id="source" class="form-control">
                  <option value="">-</option>
                  <option value="guildtown">副都・酒場</option>
                  <option value="holytown">聖都・酒場</option>
                  <option value="academy">賢者の塔・酒場</option>
                  <option value="mountain">迷宮山脈・酒場</option>
                  <option value="oasis">湖都・酒場</option>
                  <option value="forest">精霊島・酒場</option>
                  <option value="volcano">九領・酒場</option>
                  <option value="forest-sea">海風の港・酒場</option>
                  <option value="ring">リング</option>
                  <option value="demon">魔神戦</option>
                  <option value="event">期間限定</option>
                  <option value="collaboration">コラボ限定</option>
                  <option value="other">その他</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="weapon">武器タイプ</label>
                <select id="weapon" class="form-control">
                  <option value="">-</option>
                  <option value="Sl">斬</option>
                  <option value="Bl">打</option>
                  <option value="Pi">突</option>
                  <option value="Pu">拳</option>
                  <option value="Ar">弓</option>
                  <option value="Ma">魔</option>
                  <option value="He">聖</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="growth">成長タイプ</label>
                <select id="growth" class="form-control">
                  <option value="">-</option>
                  <option value="normal">通常</option>
                  <option value="fast">早熟</option>
                  <option value="slow">晩成</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="actor">声優</label>
                <select id="actor" class="form-control">
                  <option value="">-</option>
                  <% @actors.each do |act| %>
                    <option value="<%= act.id %>"><%= act.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="illustrator">イラストレーター</label>
                <select id="illustrator" class="form-control">
                  <option value="">-</option>
                  <% @illusts.each do |ill| %>
                    <option value="<%= ill.id %>"><%= ill.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
