<div id="edit-area">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div id="help-area" class="invisible">
        <div class="alert alert-warning small" role="alert">
          <ul class="list-unstyled">
            <li>空いたところにドロップ -> パーティーメンバーとしてセット</li>
            <li>すでに登録されたところにドロップ -> 「置き換え」か「絆」か選択</li>
          </ul>
        </div>
      </div>
      <div id="search-area">
        <div class="bg-info small text-muted">
          <div class="btn-group pull-right" id="search-menu">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              履歴呼び出し <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">検索</li>
              <li><a data-target="#" id="default-list">最新のアルカナ</a></li>
              <li><a data-target="#" id="used-list">最近使ったアルカナ</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header" id="search-log-header">検索履歴</li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">パーティー</li>
              <li><a data-target="#" id="last-members">最後に作ったパーティー構成</a></li>
              <li class="divider"></li>
              <li><a data-target="#" id="clear-used">（使用履歴のクリア）</a></li>
            </ul>
          </div>
          <button type="button" id="search-modal-btn" data-toggle="modal" data-target="#search-modal" class="btn btn-primary">
            検索する
          </button>
          表示中：<span id="detail" class="search-detail"></span> <span id="pager-count" class="pager-count"></span>
        </div>
        <div>
          <span class="help-block small">アルカナをドラッグ -> 上のパーティーエリアでドロップ</span>
        </div>
      </div>
      <div>
        <ul id="choice-characters" class="list-inline"></ul>
      </div>
      <p class="clearfix"></p>
      <nav class="text-center">
        <ul class="pagination" id="pagination-area">
          <li id="pager-prev" class="pager-prev"><span>&larr;</span></li>
          <li id="pager-next" class="pager-next"><span>&rarr;</span></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
