<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="help-modal-label">使い方</h2>
      </div>
      <div class="modal-body">
        <h3>基本</h3>
        <ol>
          <li>「編成する」をクリック/タップします</li>
          <li>適当に条件を選んで「絞り込む」をクリック/タップします</li>
          <li>絞り込まれたアルカナから、追加したいものをクリック/タップします<br>（色がつきます）</li>
          <li>パーティーに追加したい位置でクリック/タップします</li>
          <li>納得いく編成ができたら、「共有する」をクリック/タップします</li>
          <li>表示されたURLを他の人に渡せば、編成したパーティーを見てもらえます<br>（Twitterに流すこともできます）</li>
        </ol>
        <h3>注意事項・その他</h3>
        <ul>
          <li>編成を一度クリアしたい場合、「パーティーをリセット」をクリック/タップすると、パーティーが空になります</li>
          <li>編成したパーティーのURLは「共有する」で表示されるものを使ってください<br>ブラウザのURLとは異なります</li>
          <li>Twitterに流す際、自由に文章を書くことができますが、URLを書き換えると正しく共有できません</li>
        </ul>
        <p>
          その他細かい説明や更新履歴等は<%= link_to 'こちら', about_path %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
