<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; Close</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="help-modal-label">使い方</h2>
      </div>
      <div class="modal-body">
        <h3>基本的な使い方（動画）</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/j5NG-3cTlPs"></iframe>
        </div>
        <button class="btn btn-link" id="help-text-btn">テキストで読む</button>
        <div id="help-text">
          <h3>パーティー編成方法</h3>
          <ol class="help">
            <li>「検索する」をタップして、検索条件ウィンドウを開きます</li>
            <li>検索ウィンドウで好きな条件を選び、「検索」をタップします</li>
            <li>検索されたアルカナが下エリアにリストアップされます</li>
            <li>「Info」をタップすれば、各アルカナのより詳細な情報を確認できます</li>
            <li>
              <strong>アルカナをドラッグして、パーティーに追加したい位置でドロップします</strong>
              <ul>
                <li>すでにアルカナが存在する位置にドロップした場合、<br>「絆」か「置き換え」の選択が出ます</li>
              </ul>
            </li>
            <li>納得いく編成ができたら、「共有する」をタップします</li>
            <li>表示されたURLを他の人に渡せば、編成したパーティーを見てもらえます</li>
            <li>「Twitterで共有する」をタップすると、投稿用のウィンドウが開きます</li>
          </ol>
        </div>
        <h3>注意事項・その他</h3>
        <ul class="help">
          <li>スマートフォン等、小さい画面では編集ができません（構成の確認のみ）</li>
          <li>編成を一度クリアしたい場合、「パーティーをリセット」をタップすると、パーティーが空になります</li>
          <li>編成したパーティーのURLは「共有する」で表示されるものを使ってください<br>ブラウザのURLとは異なります</li>
          <li>Twitterに投稿する際、自由に文章を追加できますが、URLを書き換えると正しく共有できません</li>
          <li><strong>データはスマートフォン版（Android/iOS）のもの</strong>です。Vita版には対応していません</li>
        </ul>
        <p>
          もっと細かい説明や更新履歴等は<%= link_to 'こちら', about_path %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-remove"></i> 閉じる
        </button>
      </div>
    </div>
  </div>
</div>
