<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="help-modal-label">使い方</h2>
      </div>
      <div class="modal-body">
        <h3>推奨環境</h3>
        <ul>
          <li>PCブラウザ</li>
          <li>タブレット（横持ち）</li>
        </ul>
        <h3>パーティー編成方法</h3>
        <ol>
          <li>「編成する」をクリック/タップします</li>
          <li>編集モード画面に変わります</li>
          <li>「検索する」をクリック/タップして、検索条件ウィンドウを開きます</li>
          <li>検索ウィンドウで好きな条件を選び、「検索」をクリック/タップします</li>
          <li>検索されたアルカナが下エリアにリストアップされます</li>
          <li><strong>アルカナをドラッグしてして、パーティーに追加したい位置でドロップします</strong></li>
          <li>納得いく編成ができたら、「共有する」をクリック/タップします</li>
          <li>表示されたURLを他の人に渡せば、編成したパーティーを見てもらえます</li>
          <li>「Twitterで共有する」をクリック/タップすると、投稿用のウィンドウが開きます</li>
        </ol>
        <h3>注意事項・その他</h3>
        <ul>
          <li>編成を一度クリアしたい場合、「パーティーをリセット」をクリック/タップすると、パーティーが空になります</li>
          <li>編成したパーティーのURLは「共有する」で表示されるものを使ってください<br>ブラウザのURLとは異なります</li>
          <li>Twitterに投稿する際、自由に文章を追加できますが、URLを書き換えると正しく共有できません</li>
        </ul>
        <p>
          細かい説明や更新履歴等は<%= link_to 'こちら', about_path %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
