<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="request-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; Close</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="request-modal-label">管理者への要望・情報提供</h2>
      </div>
      <div class="modal-body">
        <div class="form-group" id="request-form">
          <label for="ptm-code">内容</label>
          <textarea id="request-textarea" class="form-control"></textarea>
          <span class="help-block small">100文字まで入力できます。</span>
        </div>
        <div class="form-group">
          <div class="pull-left">
            <a href="#" class="btn btn-primary" id="twitter-request">
              Twitterでメッセージを送る
            </a>
            <span class="help-block small">※Twitterのサイトを開きます</span>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-info" id="form-request">
              フォームで送る
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 閉じる
            </button>
          </div>
        </div>
        <p class="clearfix"></p>
        <hr>
        <div>
          <a name="fr"></a>
          <h4>よくある要望</h4>
          <div class="small">
            <dl>
              <dt>攻撃力UP等の具体的な％表示がほしい</dt>
              <dd>「ゲーム内で確認可能な情報」ではないので、対応しません。Wikiへのリンクで確認してください。</dd>
            </dl>
            <dl>
              <dt>Vita版専用のアルカナも登録してほしい</dt>
              <dd>管理人がVita版をプレイしていないので難しいです。</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 閉じる
        </button>
      </div>
    </div>
  </div>
</div>
