<div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="reset-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="link-modal-label">パーティーリセット</h2>
      </div>
      <div class="modal-body">
        <p>
          現在のパーティーをリセットして、メンバーを削除します。<br>
          よろしければ以下のボタンを押してください。
        </p>
        <p>
          <button class="btn btn-danger" id="reset-members">
            <i class="fa fa-trash"></i> パーティーをリセット
          </button>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-remove"></i> 閉じる
        </button>
      </div>
    </div>
  </div>
</div>