<div class="modal fade" id="view-modal" tabindex="-1" role="dialog" aria-labelledby="view-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-xs-12 col-sm-10 col-md-8">
      <div class="modal-body">
        <div id="view-detail"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
