<div class="modal fade" id="view-modal" tabindex="-1" role="dialog" aria-labelledby="view-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-xs-12 col-sm-12 col-md-10">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; Close</span></button><br>
        <div id="view-detail"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 閉じる
        </button>
      </div>
    </div>
  </div>
</div>
