<div class="modal fade" id="view-modal" tabindex="-1" role="dialog" aria-labelledby="view-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="view-modal-label"><span id="view-title"></span></h3>
      </div>
      <div class="modal-body">
        <div id="view-detail"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
