<div class="header">
  <h1>Get our light! <small class="text-muted">チェンクロパーティーシミュレーター</small></h1>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="well well-sm">
      <%= link_to '<< 戻る', root_path %>
    </div>
    <h2>更新履歴</h2>
    <dl class="dl-horizontal">
      <dt>Ver.201407xx-beta</dt>
      <dd>初公開版</dd>
    </dl>
    <hr>
    <h2>今後の予定（は未定）</h2>
    <ul>
      <li>所属する酒場から絞り込み</li>
      <li>アビリティ/スキルの登録（それによる検索等機能追加）</li>
      <li>詳細表示</li>
      <li>アルカナのレベルを登録可能に</li>
      <li>最後に編集した構成を初期状態に</li>
      <li>パーティー編成を（クッキーに）保存</li>
      <li>全体のデザインをリッチに</li>
      <li>声優/イラストレーターの登録</li>
      <li>成長タイプの登録</li>
      <li>etc...</li>
    </ul>
    <hr>
    <h2>やらないこと</h2>
    <ul>
      <li>ゲームのUIレベルでは本来わからない情報（経験値タイプetc...）</li>
      <li>公式にリリースがない情報の登録</li>
    </ul>
  </div>
</div>
