<div class="alert alert-danger col-xs-12 col-sm-12 col-md-12" role="alert">
  <p>
    データベースモードは開発中のα版です。仕様やデザインは今後変更されます。
  </p>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <button type="button" class="btn btn-primary" id="search-modal-btn" data-toggle="modal" data-target="#search-modal" >
      検索する
    </button>
    <button type="button" class="btn btn-info" id="share-query" data-toggle="modal" data-target="#share-query-modal">
      共有する
    </button>
    <a class="btn btn-default pull-right" href="<%= root_path %>" role="button">（仮）パーティー編集モード</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <nav class="text-center">
      <ul class="pagination" id="pagination-area-u">
        <li id="pager-prev-u" class="pager-prev"><span>&larr;</span></li>
        <li id="pager-next-u" class="pager-next"><span>&rarr;</span></li>
      </ul>
    </nav>
    <div class="well well-sm small text-muted">
      <span id="detail"></span> <span id="pager-count"></span>
    </div>
    <div class="table-responsive">
      <table id="arcana-table" class="table table-bordered table-condensed">
        <tbody id="table-body">
        </tbody>
      </table>
    </div>
    <nav class="text-center">
      <ul class="pagination" id="pagination-area-d">
        <li id="pager-prev-d" class="pager-prev"><span>&larr;</span></li>
        <li id="pager-next-d" class="pager-next"><span>&rarr;</span></li>
      </ul>
    </nav>
  </div>
</div>

<%= render 'viewer/condition' %>
<%= render 'viewer/share_query' %>
