// Place all the styles related to the viewer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.member-character {
  border: 2px solid gold;
  height: 160px;
  margin: 2px;
  padding: 0px;
}

.listed-character {
  height: 68px;
  margin-bottom: 2px;
  padding: 0px;
}

.close-member {
  position: absolute;
  top: 4px;
  right: 4px;
}

.selected {
  opacity: 0.7;
  border: 4px solid orange;
}

.member {
  height: 156px;
}

.target {
  height: 60px;
}

.fighter {
  background-color: pink;
}

.knight {
  background-color: lightskyblue;
}

.archer {
  background-color: lemonchiffon;
}

.magician {
  background-color: mediumpurple;
}

.priest {
  background-color: lightgreen;
}

.none {
  background-color: lightgray;
}

.act-btn {
  margin: 40px 10px;
}
