// Place all the styles related to the viewer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#target-characters {
}

#targets-frame {
  margin: 0px;
  height: 200px;
}

.member-character {
}

.listed-character {
  width: 200px;
  float: left;
  padding: 4px;
}

.character {
  min-height: 200px;
  background-color: gray;
}
